.app {
  font-family: sans-serif;
  min-width: 100%;
  margin: 0px auto;
  padding: 1rem;
  background-color: #143157;
  color: #fff;
}
.app a {
  color: #fff;
}

.app .platform-react-meteo-feature-current-weather {
  color: #fff;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.app .platform-react-meteo-feature-current-weather p {
  margin: 0;
}
